<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kendo Chart Sandbox</title>
	
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="../angular.min.js"></script>	
    <link rel="stylesheet" href="../kendo.dataviz.min.css"/>
	<link rel="stylesheet" href="../kendo.default.min.css"/>
	<link rel="stylesheet" href="../kendo.bootstrap.min.css"/>
	<link rel="stylesheet" href="../kendo.common.min.css"/>
    <script src="../kendo.custom.min.js"></script>
	
	</head>
<body>


<div ng-app="myApp" ng-controller="myCtrl">

  <button ng-click="add()">Add Dynamically</button>
  <button ng-click="initGridWithDirective()">Init Grid With Directive</button>
  <button ng-click="addOU()">Add OU (With Directive)</button>
  <br/>
  <br/>
   <button ng-click="initGridWithoutDirective()">Init Grid Without Directive</button>
   <button ng-click="debugData()">Debug Data</button>
  <div class="test"></div>
  
  
  <div kendo-grid options="kOpt" k-rebind="kOpt"></div>
  
</div>
  
</div>

</body>


<script>
var app = angular.module('myApp', ["kendo.directives"]);
app.directive('mapTableContentKeyValue', function() { 
  return {
    restrict: 'A',
    transclude: true,
    scope: { contents: '=mapTableContentKeyValue' },
    template: '<div kendo-grid options="kOpt" k-rebind="kOpt"></div>',
    controller: function($scope)
    {
	  const columns = [
			{headerTemplate: "", field: "type", width: 150},
			{title: "Value", width: 250, template: (dataItem) => dataItem.value }
		]
	  const dataSource = Object.keys($scope.contents).map(a => ({	"type" : a,	"value" : $scope.contents[a]}));
	  $scope.kOpt = {columns,dataSource};
    }
  };
});

app.directive('mapTableContentBasic', function () {
    return {
        restrict: 'A',
        transclude: true,
        scope: { contents: '=mapTableContentBasic'},
        template: '<div kendo-grid options="kOpt" k-rebind="kOpt"></div>',
        controller: function ($scope) {
            if (!Boolean($scope.contents)) return;
			
			$scope.$watch('contents', function(newValue, oldValue) {
				if(newValue){
					const columns = $scope.contents.columns;
					const dataSource = $scope.contents.dataSource;
					$scope.kOpt = { columns, dataSource };
				}
			});
        }
    };
});

app.controller('myCtrl', function($scope, $compile) {

	 $scope.mainGridOptions = {
		columns: [
			{ locked: true, field: "module", lockable: false, width:250 },
			{ field:"buffer", visible: false},
			{ field: "ou", 
			headerTemplate: (dataItem) => {console.log(dataItem);`<div>${dataItem.ou}<br/><input type="checkbox"></div>`;}, 
			width: 100,
				template: (dataItem) => `${dataItem.ou}<input type="checkbox">`}
		  ],
	  dataSource: [
		  { module: "Attendance", ou: "A" },
		  { module: "Harvesting", ou: "B" },
		  { module: "Collection", ou: "C" },
		  { module: "Evacuation", ou: "D" }
	  ]
	};

	$scope.add = () => {
		$scope.objKeyValue = {};
		$scope.objKeyValue["Type"] = "Infield";
		$scope.objKeyValue["Date"] = "2022-03-01";
		$scope.objKeyValue["Created Time"] = "2022-03-01";
		$scope.objKeyValue["Gang"] = "g1";
		$scope.objKeyValue["Har"] = "h1";
		$scope.objKeyValue["Blo"] = "b1";
		$scope.objKeyValue["Chit"] = "c1";
		$scope.objKeyValue["Bunches"] = "b1";
		$scope.objKeyValue["Ch1"] = "cc";
		$scope.objKeyValue["Evacuated On"] = "zz";
		$scope.objKeyValue["Evacuated By (Planning)"] = "ee";
		$scope.objKeyValue["Vehicle Reg No. (Planning)"] = "ww";
		
		
		const html = `<div map-table-content-key-value="objKeyValue"></div>`;
		const result = $compile(html)($scope);
		$(".test").html(result);

	}
	
	$scope.initGridWithDirective = () => {
		const columns = [
			{headerTemplate: () => "Modules", field: "type", width: 150},
			{headerTemplate: () => "OU1", title: "Value", width: 250, template: (dataItem) => dataItem.value }
		];
		const dataSource = [
		
		]
		$scope.gridData = {columns, dataSource};
		const html = `<div map-table-content-basic="gridData"></div>`;
		const result = $compile(html)($scope);
		$(".test").html(result);
	}
	
	$scope.initGridWithDirective = () => {
		const columns = [
			{headerTemplate: () => "Modules", field: "type", width: 150},
			{headerTemplate: () => "OU1", title: "Value", width: 250, template: (dataItem) => dataItem.value }
		];
		const dataSource = [
		
		]
		$scope.gridData = {columns, dataSource};
		const html = `<div map-table-content-basic="gridData"></div>`;
		const result = $compile(html)($scope);
		$(".test").html(result);
	}
	
	$scope.addOU = () => {
		const columns = [
			{headerTemplate: () => "Modules", field: "type", width: 50},
			{headerTemplate: () => "OU1", title: "Value", width: 100, template: (dataItem) => dataItem.value },
			{headerTemplate: () => "OU2", title: "Value", width: 100, template: (dataItem) => dataItem.value }
		];
		const dataSource = [
		
		]
		console.log(columns);
		$scope.gridData = {columns, dataSource};
	}
	
	//=========================================================================================//
	/*
	*	Default: 
	*	- Data stored in this way: [{ou:"OU1", value:1}, {ou:"OU2", value:2}]
	*	Dynamic column:
	*	- Data stored in this way: [{module: "Attd", OU1: value1, OU2: value2}, {module:"Har", OU1: value1, OU2: value2}]
	*	- Since OU could be not easily handle-able string, so it is better to use KEY
	*/
	$scope.onChangeCheckbox = (_d) => {
		console.log(_d);
	}
	$scope.debugData = () => {
		console.log($scope.kOpt.dataSource);
	}
	$scope.initGridWithoutDirective = () => {
		const ouData = [getRandomOU(), getRandomOU(), getRandomOU()]; console.log(ouData);
		const baseColumn = [{headerTemplate: () => "Modules", field: "module", width: 100, locked: true}]
		const moreColumns = ouData.map(a => ({headerTemplate: () => a.ou, width: 100, 
			template: (dataItem) => {
				const checked = dataItem[`OU${a.localOUKey}`] ? "checked=checked" : "";
				return `<input type="checkbox" ${checked} ng-click="onChangeCheckbox($event)">`;
			}
			
		}));
		const columns = [...baseColumn, ...moreColumns];
		const dataSource = [
			...ouData[0].modules.map(a => ({module: a.module}))
		];
		const attendanceRow = getRowByModule("Attendance");
		const harvestingRow = getRowByModule("Harvesting");
		const evacuationRow = getRowByModule("Evacuation");

		$scope.kOpt = {columns, dataSource: [attendanceRow, harvestingRow, evacuationRow]};

		function getRowByModule(_module){
			const result = ouData.map(a => {
				return a.modules.filter(b => b.module === _module).map(b => {
					const p = {};
					const ouKey = `OU${a.localOUKey}`;
					p[ouKey] = b.value;
					return p;
				});
			}).flat()
			  .reduce((result, currentObject) => {
				for(var key in currentObject){
					result[key] = currentObject[key];
				}
				return result;
			  }, {module: _module});
			return {...result};
		}
	}

	let ouKey = 1;
	function getRandomOU() {
		const ou = getOU(5);
		const localOUKey = ouKey++;
		const attendance = true;//Math.random() < 0.5;
		const harvesting = Math.random() < 0.5;
		const evacuation = Math.random() < 0.5;
		return {ou, localOUKey, modules: [{module: "Attendance", value: attendance}, 
			{module: "Harvesting", value: harvesting}, 
			{module: "Evacuation", value: evacuation}]};
	};
	
	function getOU(length) {
		let result           = '';
		const characters       = 'ABCDE123';
		const charactersLength = characters.length;
		for ( let i = 0; i < length; i++ ) {
		  result += characters.charAt(Math.floor(Math.random() * charactersLength));
	   }
	   return result;
	}
});
</script>
</html>